/*  sample for src/secrets.js
    replace constants with correct values 
    and create src/secrets.js
*/
export const CLIENT_ID = "CLIENT_ID"
export const API_KEY = "API_KEY"
export const API_URL = "API_URL" // Must be published, ending in /exec